.card {
	width: 40rem;
	background: #fff;
	border: 0.1rem solid #0000001a;
	border-radius: 0.8rem;
	color: #262525;
	cursor: pointer;
	padding: 1.2rem;
	border-bottom: 'none';
	
	.ant-card-body {
		padding: 0;
	}

	&--deleted {
		cursor: default;

		.card__title {
			text-decoration: line-through;
			opacity: 0.45;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__title {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__status {
		color: #ff5958;
		font-weight: 700;
	}

	&__link {
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.4rem;
		border-radius: 0.4rem;
		transition: box-shadow 0.2s;
		&:hover {
			color: $blue;
			box-shadow: 0 0.3rem 0.9rem #0000000a, 0 0.5rem 2.6rem #0000000a;
		}
	}

	&__date {
		font-size: 1.3rem;
		color: #00000080;
	}

	&__subtitle {
		color: $gray;
		margin-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__select {
		font-size: 2rem;

		width: 11rem;
		height: 3rem;
		padding: 0.1rem;

		border-radius: 1rem;

		.ant-select-selection-item {
			font-size: 1.4rem;
		}

		&--resolved {
			background-color: #3bc9351a;
			.ant-select-selection-item {
				color: #07a300;
			}
		}

		&--active {
			background-color: #5282ff1a;
			.ant-select-selection-item {
				color: #5282ff;
			}
		}
	}
}
