@font-face {
	font-weight: 400;
	font-family: 'AROneSans';
	src: url('../assets/fonts/AROneSans-Regular.ttf');
}

@font-face {
	font-weight: 500;
	font-family: 'AROneSans';
	src: url('../assets/fonts/AROneSans-Medium.ttf');
}

@font-face {
	font-weight: 700;
	font-family: 'AROneSans';
	src: url('../assets/fonts/AROneSans-Bold.ttf');
}
