.calendar {
	min-height: 70vh;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		height: 100%;
		width: 100%;
		padding: 8px;
		padding-bottom: 6px !important;
		padding-top: 0;
	}

	&__item {
		display: inline-flex;
		gap: 6px;
		align-items: center;
		cursor: pointer;

		.icon {
			opacity: 1;
		}
	}
}

.ant-picker-cell {
	cursor: default !important;

	@media (hover: hover) {
		&:hover {
			.icon {
				opacity: 1;
			}
		}
	}
}
.ant-picker-calendar-date-content {
	padding-bottom: 6px !important;
}
.ant-picker-calendar-mode-switch {
	display: none !important;
}
