.calendar {
	min-height: 70vh;
	position: relative;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 4px;
		height: 100%;
		width: 100%;
		padding: 8px;
		padding-bottom: 6px !important;
		padding-top: 0;

		&--untouch {
			pointer-events: none !important;
		}

		&--empty {
			opacity: 0.2;
			cursor: default;
			pointer-events: none !important;
		}
	}

	&__item {
		display: inline-flex;
		gap: 6px;
		align-items: center;
		cursor: pointer;

		strong {
			white-space: nowrap; /* Текст не переносится */
			overflow: hidden; /* Обрезаем всё за пределами блока */
			text-overflow: ellipsis; /* Показываем точки */
			width: 90%;
		}

		.icon {
			opacity: 1;
		}
	}

	&__cell {
		@media (max-width: 1120px) {
			display: none;
		}

		&--untouch {
			opacity: 0.2;
			cursor: default;
			pointer-events: none !important;
		}

		

		&--mob {
			display: none;
			height: 40px;
			width: 100%;
			@media (max-width: 1120px) {
				display: flex;
			}
			.ant-tag {
				display: flex;
				height: 100%;
				width: 100%;

				text-align: center;
				justify-content: center;
				align-items: center;
				font-size: 24px;
				font-weight: 600;
				-webkit-margin-end: 0;
				        margin-inline-end: 0;
			}
		}
	}

	&__month-title {
		position: absolute;
		left: 0;
		top: 80px;
	}

	&__mini {
		width: 400px;
		position: relative;
		@media (max-width:48em) {
			width: 600px;
		}
	}

	&__tag {
		width: 100%;
		height: 24px;
		display: flex;
		text-align: center;
		-webkit-margin-end: 0;
		margin-inline-end: 0;
		justify-content: center;
	}
}

.ant-picker-cell {
	cursor: default !important;

	@media (hover: hover) {
		&:hover {
			.icon {
				opacity: 1;
			}

			//показ кнопки добавления новой карточки за дату

			.button {
				&__add-new {
					display: block;
				}
			}
		}
	}
}
.ant-picker-calendar-date-content {
	padding-bottom: 6px !important;
	height: -webkit-fit-content !important;
	height: -moz-fit-content !important;
	height: fit-content !important;
	padding: 2px;
	padding-bottom: 10px !important;
	margin: 0 !important;
}
.ant-picker-calendar-mode-switch {
	display: none !important;
}
.ant-picker-calendar-date {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content !important;
	padding: 0 !important;
	margin: 0;
}