.card {
	width: 26rem;
	background: #fff;
	border: 0.1rem solid #0000001a;
	border-radius: 0.8rem;
	color: #262525;
	cursor: default;
	padding: 1.2rem;
	border-bottom: 'none';
	font-family: 'AROneSans';

	&:hover {
		.icon {
			opacity: 1;
		}
	}

	.ant-card-body {
		padding: 0;
	}

	&--deleted {
		cursor: default;

		.card__title {
			text-decoration: line-through;
			opacity: 0.45;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}

	&__title {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-box {
			display: flex;
			align-items: center;
			gap: 7px;
		}
	}

	&__status {
		color: #ff5958;
		font-weight: 700;
	}

	&__link {
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.4rem;
		border-radius: 0.4rem;
		transition: box-shadow 0.2s;
		&:hover {
			color: $blue;
			box-shadow: 0 0.3rem 0.9rem #0000000a, 0 0.5rem 2.6rem #0000000a;
		}
	}

	&__info {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__more-link {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}

	&__date {
		font-size: 1.3rem;
		color: #00000080;
	}

	&__subtitle {
		color: $gray;
		margin-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__select {
		font-family: 'AROneSans';
		width: 110px;

	font-weight: 600;
		height: -webkit-fit-content;

		height: -moz-fit-content;

		height: fit-content;
		padding: 0px;
		text-transform: uppercase;
		border-radius: 6px;

		.ant-select-selection-item {
			font-size: 13px;
			text-transform: uppercase;
			font-family: 'AROneSans';
		}

		&--resolved {
			background-color: #3bc9351a;
			.ant-select-selection-item {
				color: #07a300;
			}
		}

		&--active {
			background-color: #5282ff1a;
			.ant-select-selection-item {
				color: #5282ff;
			}
		}
	}
}

//внутри table
.table {
	.card__select {
		background-color: transparent;
	}

	.ant-select-selection-item {
		font-size: 13px;
		font-weight: 700;
	}
}
