.card-detail {
  font-family: 'AROneSans';
  &__row {
    display: flex;
    flex-direction: column;
    gap: 1.4rem
  }

  &__col {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    &-title {
      min-width: 7rem;
    }
  }
}