.card-detail {
	font-family: 'AROneSans';
	&__row {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	&__col {
		display: flex;
		align-items: center;
		gap: 10px;

    &--body {
      align-items: flex-start;
    }

		&-title {
			min-width: 70px;
			font-size: 14px;
			text-transform: uppercase;
		}

		&-value {
			text-transform: capitalize;
			font-size: 14px;
		}

		.card__select {
			border: none !important;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
		}
	}
}
