.card {
	width: 100%;
	background: #fff;
	border: 1px solid #0000001a;
	border-radius: 8px;
	color: #262525;
	cursor: default;
	padding: 12px;
	border-bottom: 'none';
	font-family: 'AROneSans';

	@media (max-width: 48em) {
		&__date {
		}
	}

	&:hover {
		.icon {
			opacity: 1;
		}
	}

	.ant-card-body {
		padding: 0;
	}

	&--deleted {
		cursor: default;

		.card__title {
			text-decoration: line-through;
			opacity: 0.45;
		}
	}

	&--expired {
		border-color: #ff5958;

		&:active {
			border-color: #ff3737 !important;
			border-width: 1px;
			box-shadow: 0 1px 2px -2px #ff595840, 0 3px 6px 0 #ff595840,
				0 5px 12px 4px #ff595840 !important;
		}

		&:hover {
			border-color: #ff3737 !important;
			border-width: 1px;
			box-shadow: 0 1px 2px -2px #ff595840, 0 3px 6px 0 #ff595840,
				0 5px 12px 4px #ff595840 !important;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__title {
		font-size: 25px;
		margin-bottom: 10px;
		white-space: nowrap; /* Текст не переносится */
		overflow: hidden; /* Обрезаем всё за пределами блока */
		text-overflow: ellipsis; /* Показываем точки */
		width: 90%;
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-box {
			display: flex;
			align-items: center;
			gap: 7px;
		}
	}

	&__status {
		color: #ff5958;
		font-weight: 700;
	}

	&__link {
		cursor: pointer;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.4rem;
		border-radius: 0.4rem;
		transition: box-shadow 0.2s;
		&:hover {
			color: $blue;
			box-shadow: 0 0.3rem 0.9rem #0000000a, 0 0.5rem 2.6rem #0000000a;
		}
	}

	&__info {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__more-link {
		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}

	&__date {
		font-size: 13px;
		color: #00000080;
		text-wrap: nowrap;
	}

	&__subtitle {
		color: $gray;
		margin-bottom: 10px;
		font-size: 13px;
		font-weight: 500;
	}

	&__select {
		font-family: 'AROneSans';
		width: 110px;

		font-weight: 600;
		height: -webkit-fit-content;

		height: -moz-fit-content;

		height: fit-content;
		padding: 0px;
		text-transform: uppercase;
		border-radius: 6px;

		.ant-select-selection-item {
			font-size: 13px;
			text-transform: uppercase;
			font-family: 'AROneSans';
		}

		&--resolved {
			background-color: #3bc9351a;
			.ant-select-selection-item {
				color: #07a300;
			}
		}

		&--active {
			background-color: #5282ff1a;
			.ant-select-selection-item {
				color: #5282ff;
			}
		}
	}

	@media (max-width: 48em) {
		width: 100%;
	}
}

//внутри table
.table {
	.card__select {
		background-color: transparent;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}

	.ant-select-selection-item {
		font-size: 13px;
		font-weight: 700;
	}
}
