@-webkit-keyframes scale010 {
	0% {
		transform: scale(0.8);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes scale010 {
	0% {
		transform: scale(1);
		color: #ff5958;
	}

	50% {
		transform: scale(1.2);
		color: orange;
	}

	100% {
		transform: scale(1);
		color: #ff5958;
	}
}

@-webkit-keyframes scrollMovement {
	0% {
		transform: translateX(0px);
	}

	90% {
		transform: translateX(-60px);
		color: #71aaeb;
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes scrollMovement {
	0% {
		transform: translateX(0px);
	}

	90% {
		transform: translateX(-60px);
		color: #71aaeb;
	}

	100% {
		transform: translateX(0px);
	}
}

.spinner {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
}

.icon {
	opacity: 0.7;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__back {
		width: 22px;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}

	&__fire {
		opacity: 1;
		width: 30px;
		height: 30px;
		transition: 0.2s;

		-webkit-animation: scale010 1.2s infinite;
		animation: scale010 1.2s infinite;
	}

	&__add-new {
		width: 24px;
		height: 24px;
		color: gray;
		opacity: 0.5;
		@media (hover: hover) {
			&:hover {
				opacity: 1;
				color: #71aaeb;
			}
		}
	}

	&__calendar {
		width: 22px;
		height: 100%;
	}
}

.button {
	&__add-new {
		padding: 0;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		position: absolute;
		bottom: 0px;
		right: 6px;

		display: none;
	}

	&__calendar {
		padding-left: 4px;
		padding-right: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.question-mark {
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #71aaeb;
	opacity: 0.5;

	svg {
		width: 100% !important;
		height: 100% !important;
		-o-object-fit: contain;
		object-fit: contain;
	}

	@media (hover: hover) {
		&:hover {
			opacity: 1;
		}
	}
}
