@-webkit-keyframes scale010 {
	0% {
		transform: scale(0.8);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes scale010 {
	0% {
		transform: scale(1);
		color: #ff5958;
	
	}

	50% {
		transform: scale(1.2);
		color: orange;
	}

	100% {
		transform: scale(1);
		color: #ff5958;
	}
}

.spinner {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon {
	opacity: 0.7;
	width: 20px;
	height: 20px;

	&__fire {
		opacity: 1;
		width: 30px;
		height: 30px;
		transition: 0.2s;
		
		-webkit-animation: scale010 1.2s infinite;
		        animation: scale010 1.2s infinite;
	}
}


.back-btn {
	margin-top: 20px
}

.question-mark {
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #71aaeb;
	opacity: 0.5;

	svg {
		width: 100% !important;
		height: 100% !important;
		-o-object-fit: contain;
		   object-fit: contain;
	}

	@media (hover:hover) {
		&:hover {
			opacity: 1;
		}
	}
}