.table {
	margin-top: 0px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: 100%;

	&__info {
		opacity: 0.5;
		cursor: pointer;
		color: #71aaeb;

		@media (hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
	}

	&__status-tag,
	&__deadline-tag {
		width: 70px;
		text-align: center;

		@media screen {
			@media (max-width: 48em) {
				width: 75px;
			}
		}
	}

	&__status-checker {
		visibility: hidden;
	}

	.ant-table-row {
		@media (hover: hover) {
			&:hover {
				.table__status-checker {
					visibility: visible;
				}
			}
		}
	}

	&__title {
		h5 {
			white-space: nowrap; /* Текст не переносится */
			overflow: hidden; /* Обрезаем всё за пределами блока */
			text-overflow: ellipsis; /* Показываем точки */
			width: 90%;
		}

		.icon__fire {
			width: 20px;
			height: 20px;
		}
	}

	@media (max-width: 48em) {
		width: 100%;

		.ant-table-wrapper {
			padding-top: 10px;
			padding-bottom: 10px;
			overflow-x: auto;

			&::-webkit-scrollbar {
				height: 6px;
				width: 6px;
				cursor: pointer;
			}

			&::-webkit-scrollbar:hover {
				height: 8px;
				cursor: pointer;
			}

			&::-webkit-scrollbar-track {
				background-color: #f0f0f0;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $blue;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #5b9de9;
			}
		}
	}

	h5 {
		margin: 0;
	}
}
